html{
    font-size: 15px;
    font-family: sans-serif;
}
body{
    background-color: rgb(29, 29, 29);
    .not-generated{
        display: none;
    }
    textarea{
        width: 60vw;
        height: 5vh;
    }
}
h1{
    color: white;
    text-align: center;
}
#content__generator {
    div{
        label{
        color: white;
        }
    }
    .name-archive{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
#content__generate {
    div{
        label{
        color: white;
        }
    }
}